* {
    padding: 0px;
    margin: 0px;
}

.header {
    padding-top: 1%;
    width: 100%;
    background-color:black;
    height: 40%;
    padding-bottom: 1%;
}

.headcol {
    font-family: Helvetica, sans-serif;
    color: rgb(252, 253, 253);
    display: inline-block;
    padding: 2%;
    font-size: 30px;    
}

.filter{
    margin-left: 5%;
    display: inline-block;           
    height: 1%;
    width:30%;
}

 .filterbutton{         
    width: 5%;
    height: 15%;
    margin-left: 5%;
}

.search{
    width: 30%;
    margin-left:5% ;
    display: inline-block; 
    padding-top: 5px;

}

.cart {
    margin-left: 0%;
   color: white;
    display: inline-block;
    width: 5%;
    padding: 8px;
}


input {
    height: 25px;
    width: 80px;
    margin-left: 10px;
    padding-left: 2px;
    margin-top: 0;
}

.productscolumn {    
    background-color: rgb(47, 23, 56);    
    height: auto;
    padding-bottom: 20px;
}

.productlayout {
    display: inline-block;
    margin-top: 20px;      
    height: auto;
    width: 90%;
    margin-left: 4%;
    padding: 1%;
}
p{  
    margin-left: 10px;
    width: 80%;
    height: 20%;
    font-size: small;
    padding-top: 5px;
    font-family: Geneva, Verdana, sans-serif;
    color: black;

}

.productcardbg {
    background-color: white;
   
    border: 1px solid black;
    
    display: inline-block;

    height: 40%;
    width: 28%;
    margin-left: 3.5%;
    margin-bottom: 10px;
    padding-bottom: 1%;
}

.image {
    height: 350px;
    overflow: hidden;
}

.symbol   
{
   margin-left: 10px;
   margin-top: 5px;
    display: inline-block;
    height:100%;
    width: 80px;
}

.buttonbg{
 background-color: black;
    color: white;
    font-family: sans-serif;
    padding: 2px;
}

.cartd{
    width: 100%;   
   background-color: rgb(247, 244, 117);
    height: auto;
    padding-bottom: 20px;
}
